body {
    font-family: "Open Sans", sans-serif;
    background-color: rgb(175, 165, 165);
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
}

h2 {
    color: #2641d8;
}

header h2 {
    color: red;
}

.site-footer {
    background-image: linear-gradient(#CEC8FF, white);
    padding: 20px 0;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, #030303, #030303, #030303);
    color: red;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar-dark {
        background-color: #f01616;
}

tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: solid #f50505;
}

#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
}


